@font-face {
  font-family: "Ticking Timebomb BB";
  src: url("//db.onlinewebfonts.com/t/86203afc717c0d2960e0b34fd4041e95.eot");
  src: url("//db.onlinewebfonts.com/t/86203afc717c0d2960e0b34fd4041e95.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/86203afc717c0d2960e0b34fd4041e95.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/86203afc717c0d2960e0b34fd4041e95.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/86203afc717c0d2960e0b34fd4041e95.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/86203afc717c0d2960e0b34fd4041e95.svg#Ticking Timebomb BB")
      format("svg");
}

nav {
  height: 8vh;
  background-color: #b7d3f0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#navtext {
  color: #8a84e2;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: darkblue;
  font-family: sans-serif;
}

@media screen and (max-width: 768px) {
  nav {
    height: 12vh;
  }
}

.Timers {
  width: 180px;
  margin: 0 auto;
  text-align: center;
}

#display {
  margin-bottom: 20px;
  font-family: "Ticking Timebomb BB";
}
#display span {
  font-size: 36px;
}
#buttons button:nth-child(2) {
  margin-left: 8px;
}

button {
  font-size: 16px;
  background-color: rgb(217, 60, 35);
  color: #fff;
  border-radius: 8px;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(173, 47, 28);
}
button:active {
  background-color: rgb(130, 35, 21);
}
button:focus {
  outline: 0;
}